<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img  class="img-responsive img-logo" src="../../../assets/images/logo-footer.png" alt="">
        <p class="txt-img text-nowrap">Buscar e criar eventos nunca foi tão fácil.</p>
        <div class="social-networks text-nowrap" >

          <a href="#" class="col" class="twitter"><i class="fab fa-twitter"></i></a>&nbsp;
          <a href="#" class="col" class="github"><i class="fab fa-github"></i></a>&nbsp;
          <a href="#" class="col" class="facebook"><i class="fab fa-facebook-square"></i></a>

        </div>

      </div>
      <div class="col-md-6">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe src="https://www.youtube.com/embed/aFOd2MamgY8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Todos os direitos reservados ao Descubra Co. </p>
  </div>
</footer>