/*------ Rodapé ------*/

#footer {
    background-color: #000;
    color: white;
    padding-top: 80px;
}
/*------ Imagem Rodapé ------*/

.img-logo{
    height: 100px;
	width: 130px;
    margin-left: 150px;
	background-size: contain;
    color: transparent;
}


.txt-img{
    margin-top: 20px;    
    margin-left: 40px;
    font-size: 20px; 
    

}

/*------ Botão topo ------*/




/*------ Copyright Rodapé ------*/

.footer-copyright {
    background-color: #000935;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.footer-copyright p {
    margin: 10px;
    color: white;
}

.row {
    margin-bottom: 60px;
}



/*------ Tipografia ------*/
/* .topo {
    margin-left: 190px;
    margin-top: 100px;
    font-size: 32px;
} */

/* h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
} */

a {
    color: #d2d1d1;
    text-decoration: none;
    
}

a:hover,a:focus {
    text-decoration: none;
    color: white;
}



/*------ Redes ------*/

.social-networks {
    margin-left: 135px;
    margin-top: 125px;
    padding-top: 5px;
    padding-bottom: 16px;
    font-size: 32px;
    padding: 10px;
    
    
}
/* .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
} */

.social-networks a:hover {
    text-decoration: none;
}

.facebook:hover {
    color: #3b5998;
}

.github:hover {
    transition: color 0.1s;
}

.twitter:hover {
    color: #00aced;
}


@media screen and (max-width: 767px) {
     
}
