<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit(cadastroForm.value)">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input formControlName="name" name="nome" type="text" class="form-control" id="nome" placeholder="Digite seu nome" required>
        </div>

        <div class="form-group">
          <label for="lastName">Sobrenome</label>
          <input formControlName="lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="Digite seu sobrenome" required>
        </div>

        <div class="form-group">
          <label for="email">Endereço de email</label>
          <input formControlName="email" name="email" type="email" class="form-control" id="email" placeholder="descubra@descubra.com" required>
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input formControlName="password" name="senha" type="password" class="form-control" id="senha" required>
        </div>

        <button [disabled]="!cadastroForm.valid" type="submit" class="btn btn-success">Pronto</button>

      </form>
    </div>

  </div>

</div>